header, section, footer{
    width: 100%;
}

.header_top .pc, .inner{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 1600px){
    .header_top .pc, .inner{
        width: 93.75vw;
    }
}

@media all and (max-width: 1000px){
    .header_top .pc, .inner{
        width: 700px;
    }
}

@media all and (max-width: 750px){
    .header_top .pc, .inner{
        width: 100%;
        padding: 0 20px;
    }
}

input{
    display: none;
}

section{
    margin: 80px 0;
}

.sec_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.sec_title h2{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 25px;
    color: #E83E45;
}

.sec_title h5{
    font-size: 20px;
    font-weight: 500;
    color: #666666;
}

.sec_bt>button{
    height: 35px;
    padding: 0 20px;
    background-color: #F3F3F3;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    cursor: pointer;
}

.sec_bt>button:hover{
    background-color: #E83E45;
    color: #fff;
}

@media all and (max-width: 1400px){
    section{
        margin: 5.715vw 0;
    }

    .sec_title{
        margin-bottom: 3.572vw;
    }
    
    .sec_title h2{
        font-size: 2vw;
        margin-bottom: 1.786vw;
    }
    
    .sec_title h5{
        font-size: 1.429vw;
    }
    
    .sec_bt>button{
        height: 2.5vw;
        padding: 0 1.429vw;
        font-size: 1.143vw;
        margin-left: 1.429vw;
    }
}

@media all and (max-width: 1000px){
    section{
        margin: 40px 0;
    }

    .sec_title{
        margin-bottom: 35px;
    }
    
    .sec_title h2{
        font-size: 22px;
        margin-bottom: 15px;
    }
    
    .sec_title h5{
        font-size: 14px;
    }
    
    .sec_bt>button{
        height: 30px;
        padding: 0 25px;
        font-size: 12px;
        margin-left: 10px;
    }
}

@media all and (max-width: 750px){
    .sec_title{
        flex-direction: column;
        align-items: flex-start;
    }

    .sec_bt{
        margin-top: 25px;
    }

    .sec_bt>button{
        margin: 0 10px 0 0;
    }
}

.sec_con{
    width: 100%;
    display: flex;
    justify-content: space-between;
}